.login{
    margin-right: 10%;
    margin-left: 3%;

    
}

.sign,.login{
    
    font-size: 15px;
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    margin-top: 0.5%;
}


.sign:hover,.login:hover {
    background-color: #2980b9;
    color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.changebuttoncolor{
    background-color: #e2e607;
    border: solid rgb(41, 38, 38);
    
    color: #fff;
 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    

}

.button {
    text-decoration: none; /* Remove default underline */
    font-weight: normal;
    color: rgb(198, 201, 5);    /* Set default font weight */
  
    /* Add transition for a smooth animation */
    transition: all 0.3s ease-in-out;
  }
  
  /* Apply styles when hovering over the button */
.button:hover {
    text-decoration: underline; /* Add underline on hover */
    font-weight: bold;          /* Make text bold on hover */
  }